asgiref==3.6.0
certifi==2023.5.7
cfgv==3.3.1
charset-normalizer==3.1.0
coverage==7.2.5
discord-webhook==1.1.0
distlib==0.3.6
Django==4.2.1
exceptiongroup==1.1.1
filelock==3.12.0
identify==2.5.24
idna==3.4
iniconfig==2.0.0
mocker==1.1.1
nodeenv==1.8.0
packaging==23.1
platformdirs==3.5.1
pluggy==1.0.0
pre-commit==3.3.2
pymsteams==0.2.2
pytest==7.3.1
pytest-cov==4.0.0
pytest-django==4.5.2
python-dotenv==1.0.0
PyYAML==6.0
requests==2.30.0
slack-sdk==3.21.3
sqlparse==0.4.4
timestamp==0.0.1
tomli==2.0.1
urllib3==2.0.2
virtualenv==20.23.0
djangorestframework==3.14.0
requests-toolbelt==1.0.0
